-- MySQL dump 10.13  Distrib 8.4.11, for Win64 (x86_64)
--
-- Host: localhost    Database: mog_demo
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_emailaddress`
--

DROP TABLE IF EXISTS `account_emailaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_emailaddress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(254) COLLATE utf8mb4_general_ci NOT NULL,
  `verified` tinyint(1) NOT NULL,
  `primary` tinyint(1) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_emailaddress_user_id_email_987c8728_uniq` (`user_id`,`email`),
  KEY `account_emailaddress_email_03be32b2` (`email`),
  CONSTRAINT `account_emailaddress_user_id_fk` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_emailaddress`
--

LOCK TABLES `account_emailaddress` WRITE;
/*!40000 ALTER TABLE `account_emailaddress` DISABLE KEYS */;
INSERT INTO `account_emailaddress` VALUES (14,'jaycoab2@gmail.com',0,1,17),(15,'hoshino@gmail.com',0,1,18),(18,'kise@gmail.com',0,1,21),(19,'umyomin@gmail.com',0,1,22),(20,'dawaye@gmail.com',0,1,25);
/*!40000 ALTER TABLE `account_emailaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_emailconfirmation`
--

DROP TABLE IF EXISTS `account_emailconfirmation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_emailconfirmation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created` datetime(6) NOT NULL,
  `sent` datetime(6) DEFAULT NULL,
  `key` varchar(64) COLLATE utf8mb4_general_ci NOT NULL,
  `email_address_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `account_emailconfirm_email_address_id_5b7f8c58_fk_account_e` (`email_address_id`),
  CONSTRAINT `account_emailconfirm_email_address_id_5b7f8c58_fk_account_e` FOREIGN KEY (`email_address_id`) REFERENCES `account_emailaddress` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_emailconfirmation`
--

LOCK TABLES `account_emailconfirmation` WRITE;
/*!40000 ALTER TABLE `account_emailconfirmation` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_emailconfirmation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archives`
--

DROP TABLE IF EXISTS `archives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `archives` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `archive_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `documents_id` bigint DEFAULT NULL,
  `staffs_id` bigint DEFAULT NULL,
  `updated_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `archive_id` (`archive_id`),
  KEY `archives_documents_id_72d2e70e_fk_documents_document_id` (`documents_id`),
  KEY `archives_staffs_id_ceccdc49_fk_staffs_id` (`staffs_id`),
  CONSTRAINT `archives_documents_id_72d2e70e_fk_documents_document_id` FOREIGN KEY (`documents_id`) REFERENCES `documents` (`id`),
  CONSTRAINT `archives_staffs_id_ceccdc49_fk_staffs_id` FOREIGN KEY (`staffs_id`) REFERENCES `staffs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archives`
--

LOCK TABLES `archives` WRITE;
/*!40000 ALTER TABLE `archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `model_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `object_id` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_logs_user_id_752b0e2b_fk_authentication_moguser_id` (`user_id`),
  CONSTRAINT `audit_logs_user_id_752b0e2b_fk_authentication_moguser_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=313 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_moguser`
--

DROP TABLE IF EXISTS `authentication_moguser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_moguser` (
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `username` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(128) COLLATE utf8mb4_general_ci NOT NULL,
  `role` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` date NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `staff_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `staff_id` (`staff_id`),
  CONSTRAINT `authentication_moguser_staff_id_6153f008_fk_staffs_id` FOREIGN KEY (`staff_id`) REFERENCES `staffs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_moguser`
--

LOCK TABLES `authentication_moguser` WRITE;
/*!40000 ALTER TABLE `authentication_moguser` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_moguser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_moguser_groups`
--

DROP TABLE IF EXISTS `authentication_moguser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_moguser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `moguser_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `authentication_moguser_groups_moguser_id_group_id_cfd99cb7_uniq` (`moguser_id`,`group_id`),
  KEY `authentication_moguser_groups_group_id_078d181c_fk_auth_group_id` (`group_id`),
  CONSTRAINT `authentication_mogus_moguser_id_fb72c01e_fk_authentic` FOREIGN KEY (`moguser_id`) REFERENCES `authentication_moguser` (`id`),
  CONSTRAINT `authentication_moguser_groups_group_id_078d181c_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_moguser_groups`
--

LOCK TABLES `authentication_moguser_groups` WRITE;
/*!40000 ALTER TABLE `authentication_moguser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_moguser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_moguser_user_permissions`
--

DROP TABLE IF EXISTS `authentication_moguser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_moguser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `moguser_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `authentication_moguser_u_moguser_id_permission_id_8bbc6a46_uniq` (`moguser_id`,`permission_id`),
  KEY `authentication_mogus_permission_id_b8f50aef_fk_auth_perm` (`permission_id`),
  CONSTRAINT `authentication_mogus_moguser_id_9b19ba38_fk_authentic` FOREIGN KEY (`moguser_id`) REFERENCES `authentication_moguser` (`id`),
  CONSTRAINT `authentication_mogus_permission_id_b8f50aef_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_moguser_user_permissions`
--

LOCK TABLES `authentication_moguser_user_permissions` WRITE;
/*!40000 ALTER TABLE `authentication_moguser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_moguser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authtoken_token`
--

DROP TABLE IF EXISTS `authtoken_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authtoken_token` (
  `key` varchar(40) COLLATE utf8mb4_general_ci NOT NULL,
  `created` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`key`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `authtoken_token_user_id_35299eff_fk_authentication_moguser_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authtoken_token`
--

LOCK TABLES `authtoken_token` WRITE;
/*!40000 ALTER TABLE `authtoken_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `authtoken_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buildings`
--

DROP TABLE IF EXISTS `buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buildings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `building_id` varchar(10) COLLATE utf8mb4_general_ci NOT NULL,
  `building_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `created_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `building_id` (`building_id`),
  UNIQUE KEY `building_name` (`building_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buildings`
--

LOCK TABLES `buildings` WRITE;
/*!40000 ALTER TABLE `buildings` DISABLE KEYS */;
INSERT INTO `buildings` VALUES (4,'B-001','ßÇòßÇäßÇ║ßÇÖßÇåßÇ▒ßÇ¼ßÇäßÇ║','2026-04-26 22:13:53.672110'),(5,'B-002','Engineering','2026-08-20 14:19:08.094222'),(6,'B-003','Test Building 1','2026-09-01 02:34:37.264668');
/*!40000 ALTER TABLE `buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category_name` varchar(300) COLLATE utf8mb4_general_ci NOT NULL,
  `parent_id` bigint DEFAULT NULL,
  `category_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `category_name` (`category_name`),
  UNIQUE KEY `category_id` (`category_id`),
  KEY `categories_parent_id_fc02df82_fk_categories_id` (`parent_id`),
  CONSTRAINT `categories_parent_id_fc02df82_fk_categories_id` FOREIGN KEY (`parent_id`) REFERENCES `categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chats_chatmessage`
--

DROP TABLE IF EXISTS `chats_chatmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chats_chatmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(10) COLLATE utf8mb4_general_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chats_chatmessage_user_id_79aca0cf_fk_authentication_moguser_id` (`user_id`),
  CONSTRAINT `chats_chatmessage_user_id_79aca0cf_fk_authentication_moguser_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=330 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chats_chatmessage`
--

LOCK TABLES `chats_chatmessage` WRITE;
/*!40000 ALTER TABLE `chats_chatmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `chats_chatmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chats_document`
--

DROP TABLE IF EXISTS `chats_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chats_document` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chats_document`
--

LOCK TABLES `chats_document` WRITE;
/*!40000 ALTER TABLE `chats_document` DISABLE KEYS */;
INSERT INTO `chats_document` VALUES (1,'chatbot/ßÇíßÇÉßÇûßÇäßÇÉßÇäßÇÆßÇüßÇÜßÇüßÇä_14_2026.pdf','2026-08-10 07:00:49.008824'),(2,'chatbot/ßÇíßÇÉßÇûßÇäßÇÉßÇäßÇÆßÇüßÇÜßÇüßÇä_14_2026_vh37XUP.pdf','2026-08-10 07:02:34.027343'),(3,'chatbot/ßÇÇßÇÜßÇ¢ßÇÖßÇÉßÇÉßÇÖßÇÖ_.docx','2026-08-10 07:04:27.629296'),(4,'chatbot/JITES_2020-part-1.pdf','2026-08-10 07:06:29.034201'),(5,'chatbot/ßÇíßÇÉßÇûßÇäßÇÉßÇäßÇÆßÇüßÇÜßÇüßÇä_14_2026.pdf','2026-08-24 05:05:47.759058');
/*!40000 ALTER TABLE `chats_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `department_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `room_id` bigint DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `department_id` (`department_id`),
  UNIQUE KEY `department_name` (`department_name`),
  KEY `departments_department_room_id_c0c6a1a6_fk_rooms_room_id` (`room_id`),
  CONSTRAINT `departments_department_room_id_c0c6a1a6_fk_rooms_room_id` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_general_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_authentication_moguser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_authentication_moguser_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=110 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_general_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_types`
--

DROP TABLE IF EXISTS `document_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_types` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `dtype_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `dtype_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dtype_id` (`dtype_id`),
  UNIQUE KEY `dtype_name` (`dtype_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_types`
--

LOCK TABLES `document_types` WRITE;
/*!40000 ALTER TABLE `document_types` DISABLE KEYS */;
INSERT INTO `document_types` VALUES (2,'DTYPE-001','Temporary'),(3,'DTYPE-002','Permanent'),(5,'DTYPE-003','Test Doc Type'),(6,'DTYPE-004','Test Type 1');
/*!40000 ALTER TABLE `document_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `document_name` varchar(225) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `category_id` bigint DEFAULT NULL,
  `dtype_id` bigint DEFAULT NULL,
  `description` varchar(225) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `document` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `staff_id` bigint DEFAULT NULL,
  `expired_at` date DEFAULT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `is_recycled` tinyint(1) NOT NULL,
  `recycled_at` datetime(6) DEFAULT NULL,
  `restore_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `document_id` (`document_id`),
  KEY `documents_document_dtype_id_b82457c2_fk_document_types_id` (`dtype_id`),
  KEY `documents_category_id_7d9ef7d7_fk_categories_id` (`category_id`),
  KEY `documents_staff_id_a931ae71_fk_staffs_id` (`staff_id`),
  CONSTRAINT `documents_category_id_7d9ef7d7_fk_categories_id` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `documents_document_dtype_id_b82457c2_fk_document_types_id` FOREIGN KEY (`dtype_id`) REFERENCES `document_types` (`id`),
  CONSTRAINT `documents_staff_id_a931ae71_fk_staffs_id` FOREIGN KEY (`staff_id`) REFERENCES `staffs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location_photos`
--

DROP TABLE IF EXISTS `location_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location_photos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `photo` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `location_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `location_photos_location_id_e992471c_fk_locations_id` (`location_id`),
  CONSTRAINT `location_photos_location_id_e992471c_fk_locations_id` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location_photos`
--

LOCK TABLES `location_photos` WRITE;
/*!40000 ALTER TABLE `location_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `location_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `location_id` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `location_name` varchar(225) COLLATE utf8mb4_general_ci NOT NULL,
  `photo` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `latitude` decimal(9,6) DEFAULT NULL,
  `longitude` decimal(9,6) DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_general_ci,
  `city` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date` date NOT NULL,
  `department_id` bigint DEFAULT NULL,
  `location_type` varchar(225) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `state_division` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `location_id` (`location_id`),
  KEY `locations_department_id_5df33abd_fk_departments_id` (`department_id`),
  CONSTRAINT `locations_department_id_5df33abd_fk_departments_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rag_document_chunks`
--

DROP TABLE IF EXISTS `rag_document_chunks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rag_document_chunks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `version_id` bigint NOT NULL,
  `section_id` bigint DEFAULT NULL,
  `parent_chunk_id` bigint DEFAULT NULL,
  `chunk_index` int DEFAULT NULL,
  `content_type` varchar(20) NOT NULL,
  `page_start` int DEFAULT NULL,
  `page_end` int DEFAULT NULL,
  `content` text NOT NULL,
  `token_count` int DEFAULT NULL,
  `checksum` varchar(64) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `version_id` (`version_id`),
  KEY `section_id` (`section_id`),
  CONSTRAINT `rag_document_chunks_ibfk_1` FOREIGN KEY (`version_id`) REFERENCES `rag_document_versions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rag_document_chunks_ibfk_2` FOREIGN KEY (`section_id`) REFERENCES `rag_document_sections` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=437 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rag_document_chunks`
--

LOCK TABLES `rag_document_chunks` WRITE;
/*!40000 ALTER TABLE `rag_document_chunks` DISABLE KEYS */;
/*!40000 ALTER TABLE `rag_document_chunks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rag_document_sections`
--

DROP TABLE IF EXISTS `rag_document_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rag_document_sections` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `version_id` bigint NOT NULL,
  `parent_id` bigint DEFAULT NULL,
  `title` varchar(500) DEFAULT NULL,
  `level` int DEFAULT NULL,
  `path` text,
  `page_start` int DEFAULT NULL,
  `page_end` int DEFAULT NULL,
  `sort_order` int DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `version_id` (`version_id`),
  CONSTRAINT `rag_document_sections_ibfk_1` FOREIGN KEY (`version_id`) REFERENCES `rag_document_versions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rag_document_sections`
--

LOCK TABLES `rag_document_sections` WRITE;
/*!40000 ALTER TABLE `rag_document_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `rag_document_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rag_document_versions`
--

DROP TABLE IF EXISTS `rag_document_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rag_document_versions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_id` bigint NOT NULL,
  `version_number` int DEFAULT NULL,
  `checksum` varchar(64) NOT NULL,
  `parser_version` varchar(50) NOT NULL,
  `chunker_version` varchar(50) NOT NULL,
  `embedding_version` varchar(50) NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `page_count` int DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `document_id` (`document_id`),
  CONSTRAINT `rag_document_versions_ibfk_1` FOREIGN KEY (`document_id`) REFERENCES `rag_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rag_document_versions`
--

LOCK TABLES `rag_document_versions` WRITE;
/*!40000 ALTER TABLE `rag_document_versions` DISABLE KEYS */;
INSERT INTO `rag_document_versions` VALUES (1,1,1,'a7d21130a2610803e17bbe6887bb84c2214ffd72f16b4f0b5c6bdaf3b03d5b5a','docling-v1','hierarchical-v1','bge-m3-v1',81913,0,'completed','2026-09-02 10:51:01'),(2,2,1,'c2ca13c74cf2b0f6f1cedc508eb42a6a43ddbc0fb2017235137757cf3b72468f','docling-v1','hierarchical-v1','bge-m3-v1',13886,0,'completed','2026-09-02 11:06:53');
/*!40000 ALTER TABLE `rag_document_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rag_documents`
--

DROP TABLE IF EXISTS `rag_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rag_documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(500) NOT NULL,
  `filename` varchar(500) NOT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `checksum` varchar(64) NOT NULL,
  `storage_key` varchar(1000) NOT NULL,
  `language` varchar(10) DEFAULT NULL,
  `page_count` int DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `current_version_id` bigint DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `classification` varchar(50) DEFAULT NULL,
  `created_by` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rag_documents`
--

LOCK TABLES `rag_documents` WRITE;
/*!40000 ALTER TABLE `rag_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `rag_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rag_ingestion_jobs`
--

DROP TABLE IF EXISTS `rag_ingestion_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rag_ingestion_jobs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_id` bigint NOT NULL,
  `version_id` bigint DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `current_stage` varchar(30) NOT NULL,
  `retry_count` int DEFAULT NULL,
  `error_message` text,
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `document_id` (`document_id`),
  CONSTRAINT `rag_ingestion_jobs_ibfk_1` FOREIGN KEY (`document_id`) REFERENCES `rag_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rag_ingestion_jobs`
--

LOCK TABLES `rag_ingestion_jobs` WRITE;
/*!40000 ALTER TABLE `rag_ingestion_jobs` DISABLE KEYS */;
INSERT INTO `rag_ingestion_jobs` VALUES (1,1,1,'COMPLETED','COMPLETED',0,NULL,'2026-09-02 10:51:01','2026-09-02 10:55:53','2026-09-02 10:51:01'),(2,2,2,'COMPLETED','COMPLETED',0,NULL,'2026-09-02 11:06:53','2026-09-02 11:07:07','2026-09-02 11:06:53');
/*!40000 ALTER TABLE `rag_ingestion_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranks`
--

DROP TABLE IF EXISTS `ranks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ranks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rank_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `rank_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rank_id` (`rank_id`),
  UNIQUE KEY `rank_name` (`rank_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranks`
--

LOCK TABLES `ranks` WRITE;
/*!40000 ALTER TABLE `ranks` DISABLE KEYS */;
INSERT INTO `ranks` VALUES (3,'RANK-001','ßÇèßÇ╜ßÇ╛ßÇößÇ╖ßÇ║ßÇÖßÇ╛ßÇ░ßÇ╕','2026-04-26 06:10:44.676942','2026-08-19 13:11:27.061161'),(4,'RANK-002','ßÇ£ßÇÇßÇ║ßÇæßÇ▒ßÇ¼ßÇÇßÇ║ßÇèßÇ╜ßÇ╛ßÇößÇ║ßÇÖßÇ╛ßÇ░ßÇ╕','2026-04-26 06:11:25.731527','2026-04-26 06:11:25.731527'),(5,'RANK-003','ßÇªßÇ╕ßÇàßÇ«ßÇ╕ßÇÖßÇ╛ßÇ░ßÇ╕','2026-04-26 06:11:35.706624','2026-04-26 06:11:35.706624'),(6,'RANK-004','ßÇÆßÇ»ßÇªßÇ╕ßÇàßÇ«ßÇ╕ßÇÖßÇ╛ßÇ░ßÇ╕','2026-04-26 06:11:45.476889','2026-04-26 06:16:16.710024'),(8,'R-005','Test Staff Rank','2026-09-07 07:53:52.731702','2026-09-07 07:53:52.731702');
/*!40000 ALTER TABLE `ranks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `role_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_id` (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (2,'ROLE-001','Head of Department','2026-04-26 01:43:48.066358','2026-08-19 13:11:31.679622'),(5,'ROLE-002','Deputy of Department','2026-04-26 01:47:44.193042','2026-04-26 01:47:44.193042'),(7,'R-003','Test Staff Role','2026-09-07 07:53:22.059451','2026-09-07 07:53:22.059451');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rooms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `room_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `room_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `room_no` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `building_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_id` (`room_id`),
  UNIQUE KEY `room_name` (`room_name`),
  KEY `rooms_building_id_19cd4c2e_fk_buildings_id` (`building_id`),
  CONSTRAINT `rooms_building_id_19cd4c2e_fk_buildings_id` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
INSERT INTO `rooms` VALUES (6,'ROOM-001','ßÇíßÇàßÇèßÇ║ßÇ╕ßÇíßÇ¥ßÇ▒ßÇ╕ ßÇüßÇößÇ║ßÇ╕ßÇÖ',110,'2026-04-27 06:00:45.433645','2026-08-19 13:13:55.856969',4),(7,'ROOM-002','ßÇÖßÇƒßÇ¼ßÇÇßÇ╜ßÇößÇ║ßÇòßÇ╗ßÇ░ßÇÉßÇ¼ (ßÇ₧ßÇ¡ßÇòßÇ╣ßÇòßÇ╢)',203,'2026-04-27 06:47:00.848912','2026-04-27 06:47:00.848912',4),(8,'ROOM-003','Fianance',104,'2026-04-29 02:20:22.455832','2026-04-29 02:20:22.456838',4),(9,'R-004','Test Room 1',310,'2026-09-01 02:34:57.838377','2026-09-01 02:35:20.680523',6);
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialaccount`
--

DROP TABLE IF EXISTS `socialaccount_socialaccount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socialaccount_socialaccount` (
  `id` int NOT NULL AUTO_INCREMENT,
  `provider` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `uid` varchar(191) COLLATE utf8mb4_general_ci NOT NULL,
  `last_login` datetime(6) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `extra_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socialaccount_socialaccount_provider_uid_fc810c6e_uniq` (`provider`,`uid`),
  KEY `socialaccount_social_user_id_8146e70c_fk_authentic` (`user_id`),
  CONSTRAINT `socialaccount_social_user_id_8146e70c_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_moguser` (`id`),
  CONSTRAINT `socialaccount_socialaccount_chk_1` CHECK (json_valid(`extra_data`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialaccount`
--

LOCK TABLES `socialaccount_socialaccount` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialaccount` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialaccount` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialapp`
--

DROP TABLE IF EXISTS `socialaccount_socialapp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socialaccount_socialapp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `provider` varchar(30) COLLATE utf8mb4_general_ci NOT NULL,
  `name` varchar(40) COLLATE utf8mb4_general_ci NOT NULL,
  `client_id` varchar(191) COLLATE utf8mb4_general_ci NOT NULL,
  `secret` varchar(191) COLLATE utf8mb4_general_ci NOT NULL,
  `key` varchar(191) COLLATE utf8mb4_general_ci NOT NULL,
  `provider_id` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `socialaccount_socialapp_chk_1` CHECK (json_valid(`settings`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialapp`
--

LOCK TABLES `socialaccount_socialapp` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialapp` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialapp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialtoken`
--

DROP TABLE IF EXISTS `socialaccount_socialtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socialaccount_socialtoken` (
  `id` int NOT NULL AUTO_INCREMENT,
  `token` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `token_secret` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `account_id` int NOT NULL,
  `app_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq` (`app_id`,`account_id`),
  KEY `socialaccount_social_account_id_951f210e_fk_socialacc` (`account_id`),
  CONSTRAINT `socialaccount_social_account_id_951f210e_fk_socialacc` FOREIGN KEY (`account_id`) REFERENCES `socialaccount_socialaccount` (`id`),
  CONSTRAINT `socialaccount_social_app_id_636a42d7_fk_socialacc` FOREIGN KEY (`app_id`) REFERENCES `socialaccount_socialapp` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialtoken`
--

LOCK TABLES `socialaccount_socialtoken` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staffs`
--

DROP TABLE IF EXISTS `staffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staffs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `staff_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_email` varchar(254) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_address` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_ph_number` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `staff_gender` varchar(10) COLLATE utf8mb4_general_ci NOT NULL,
  `department_id` bigint DEFAULT NULL,
  `rank_id` bigint DEFAULT NULL,
  `role_id` bigint DEFAULT NULL,
  `stype_id` bigint DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `staff_id` (`staff_id`),
  UNIQUE KEY `staff_name` (`staff_name`),
  UNIQUE KEY `staff_email` (`staff_email`),
  UNIQUE KEY `staff_ph_number` (`staff_ph_number`),
  KEY `staffs_department_id_ab62f65b_fk_departments_id` (`department_id`),
  KEY `staffs_rank_id_6ed5531d_fk_ranks_id` (`rank_id`),
  KEY `staffs_role_id_de52a80c_fk_roles_id` (`role_id`),
  KEY `staffs_stype_id_9c0f3a30_fk_stypes_id` (`stype_id`),
  CONSTRAINT `staffs_department_id_ab62f65b_fk_departments_id` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `staffs_rank_id_6ed5531d_fk_ranks_id` FOREIGN KEY (`rank_id`) REFERENCES `ranks` (`id`),
  CONSTRAINT `staffs_role_id_de52a80c_fk_roles_id` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`),
  CONSTRAINT `staffs_stype_id_9c0f3a30_fk_stypes_id` FOREIGN KEY (`stype_id`) REFERENCES `stypes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staffs`
--

LOCK TABLES `staffs` WRITE;
/*!40000 ALTER TABLE `staffs` DISABLE KEYS */;
/*!40000 ALTER TABLE `staffs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stypes`
--

DROP TABLE IF EXISTS `stypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stypes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stype_id` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `stype_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stype_id` (`stype_id`),
  UNIQUE KEY `stype_name` (`stype_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stypes`
--

LOCK TABLES `stypes` WRITE;
/*!40000 ALTER TABLE `stypes` DISABLE KEYS */;
INSERT INTO `stypes` VALUES (3,'STYPE-001','Permenant','2026-04-27 08:07:31.291199','2026-08-19 13:11:43.946506'),(4,'STYPE-002','Temporary','2026-04-27 08:07:37.719172','2026-04-27 08:07:37.720173'),(5,'STYPE-003','ßÇößÇ▒ßÇ╖ßÇàßÇ¼ßÇ╕ ßüÇßÇößÇ║ßÇæßÇÖßÇ║ßÇ╕','2026-07-01 03:58:30.653871','2026-07-01 03:58:30.653871'),(6,'STYPE-004','ßÇíßÇäßÇ╛ßÇ¼ßÇ╕ ßüÇßÇößÇ║ßÇæßÇÖßÇ║ßÇ╕','2026-07-01 03:58:40.712329','2026-07-01 03:58:40.712329'),(7,'ST-005','Test Staff Type','2026-09-07 07:52:53.159243','2026-09-07 07:52:53.159243');
/*!40000 ALTER TABLE `stypes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-15 17:16:02
